.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  background-color: rgb(196, 212, 228);
}

.Card-Style {
  margin: 10px;
  height: 8%;
}

.Card-Body {
  height: 50% !important;
}

.show {
  cursor: pointer;
  text-decoration: underline blue;
  color: blue;
}
.price {
  color: rgb(16, 124, 16);
  font-weight: bolder;
  padding-left: 85px;
}
.text-muted {
  display: flex;
  justify-content: center;
}

.code-buttons {
  height: 100%;
  width: 100px;
  margin: 10px;
}
.card-style {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-self: center;
  margin-top: 100px;
}
.content-style {
  display: flex;
  justify-content: space-evenly;
}
.side-menu {
  margin-top: 100px;
  padding: 10px;
}
.title {
  height: -webkit-fill-available;
  align-self: center;
  align-items: center;
  display: flex;
}
